<ion-view view-title="Dealer">
  <ion-content>
    <div class="centerDiv">
      <div class="row" ng-repeat="players in playersChunk">
        <div class="col" ng-repeat="player in players" ng-if="player">
          <player ng-player="player"></player>
        </div>
      </div>
      <div class="padding-vertical width-in">
        <div class="row text-center">
          <div class="col-20" ng-repeat='communityCard in communityCards track by $index' ng-if="!communityCard.isBurn">
            <community ng-community-card="communityCard"></community>
          </div>
        </div>
        <div class="row">
          <div class="col col-60">
            <div class="text-center">
              <button class="button button-assertive button-outline button-block button-small fnt-18" ng-disabled="!showRemove(0);" ng-click="removeCard(0);">Remove</button>
            </div>
          </div>
          <div class="col col-20">
            <div class="text-center">
              <button class="button button-assertive button-outline button-block button-small fnt-18" ng-disabled="!showRemove(4);" ng-click="removeCard(4);">Remove</button>
            </div>
          </div>
          <div class="col col-20">
            <div class="text-center">
              <button class="button button-assertive button-outline button-block button-small fnt-18" ng-disabled="!showRemove(6);" ng-click="removeCard(6);">Remove</button>

            </div>
          </div>
        </div>
      </div>


      <div class="row" ng-if="hasTurn" ng-show="remainingPlayers>1">
        <div class="col col-25 text-center">

          <button class="button button-dark button-block button-outline fnt-3em" ng-click="showConfirmationModal('allIn');">All In</button>
        </div>
        <div class="col col-25 text-center">
          <button class="button button-dark button-block button-outline fnt-3em" ng-click="raise();">Raise</button>
        </div>
        <div class="col col-25 text-center" ng-click="check();" ng-if="isCheck">
          <button class="button button-dark button-block button-outline fnt-3em">Check</button>
        </div>
        <div class="col col-25 text-center" ng-click="call();" ng-if="!isCheck">
          <button class="button button-dark button-block button-outline fnt-3em">Call</button>
        </div>
        <div class="col col-25 text-center" ng-click="showConfirmationModal('fold');">
          <button class="button button-dark button-block button-outline fnt-3em">Fold</button>

        </div>
      </div>
      <div class="row" ng-if="!hasTurn" ng-show="remainingPlayers>1">
        <div class="col col-100 text-center">

          <button class="button button-royal button-block fnt4-5em btn-pad" ng-show="!showWinner" ng-click="randomCard();">Serve Card</button>
          <button class="button button-royal button-block button-outline fnt4-5em btn-pad" ng-show="showWinner" ui-sref="winner">Show Winner</button>

        </div>
      </div>
      <div class="padding-vertical">
        <div class="row">
          <div class="col col-25 text-center">
          </div>
          <div class="col col-25 text-center">
          </div>
          <div class="col col-25 text-center" ng-click="showConfirmationModal('newGame');">
            <button class="button button-assertive button-block button-outline fnt-3em">New</button>
          </div>
          <div class="col col-25 text-center" ng-click="showConfirmationModal('undo');">
            <button class="button button-assertive button-block  button-outline fnt-3em">Undo</button>

          </div>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>