<ion-view view-title="Table">
    <ion-content class="few-pad">
        <div class="poker-table">
            <div class="row" ng-repeat="players in playersChunk">
                <div class="col" ng-repeat="player in players">
                    <tab ng-player="player" ng-if="player"></tab>
                </div>
            </div>
        </div>
        <form>
            <div class="list">
                <label class="item item-input item-select" for="dealer">
                    <div class="input-label">
                        <i class="ion-ios-people"></i> Dealer
                    </div>
                    <span class="low-opacity fnt-16">(Default: {{dealer.dealerPlayer}})</span>
                    <select id="dealer" ng-model="dealer.dealerPlayer">
                        <option ng-repeat="p in activePlayers() track by $index" value="{{p.playerNo}}">Player {{p.playerNo}}</option>
                    </select>
                </label>
            </div>
            <div class="item item-toggle" ng-show="showRemoveSmallBlind()">
                <span class="fnt-24">Remove Small Blind</span>
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="form.removeSmallBlind">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-select" for="dealer">
                    <div class="input-label">
                        <i class="ion-ios-people"></i> Straddle
                    </div>
                    <select id="dealer" ng-model="form.straddle">
                        <option ng-repeat="val in maxStraddle" value="{{val}}">{{val}}</option>
                    </select>
                </label>
            </div>
            <div class="text-center">
                <button class="button button-positive button-block fnt4-5em btn-pad" ng-disabled="!dealer.dealerPlayer || !isDealerPlayerInActive(dealer.dealerPlayer) || (activePlayers().length<2)"
                    ng-click="makeDealer(dealer.dealerPlayer);">Start</button>
            </div>
        </form>


        <div class="row">
            <div class="col col-25"></div>
            <div class="col col-25"></div>
            <div class="col col-50">
                <div class="clearfix">
                    <button class="button button-royal button-outline setting-button " on-tap="toggleSettingShow();">
                        <i class="ion ion-ios-cog"></i>
                    </button>
                </div>

                <div class="list popup-custom" ng-show="settingShow">
                    <label class="item item-input" ng-repeat="setting in settings">
                        <span class="input-label">{{setting.name}}</span>
                        <input type="text" ng-model="setting.value" class="setting-input font-big">
                    </label>


                    <button class="button button-royal button-block button-outline button-small fnt-22" ng-click="storeSetting();">Save</button>


                    <label class="item item-input">
                        <span class="input-label">Admin Url</span>
                        <input type="text" ng-model="form.adminurl" class="setting-input font-big">

                    </label>

                    <button class="button button-assertive button-block button-outline button-small fnt-22 text-right" ng-click="saveAdminUrl();">Save Admin URL</button>

                </div>

            </div>
        </div>

    </ion-content>
</ion-view>