<ion-view view-title="Dealer">
  <ion-content>
    <div class="centerDiv">
      <div class="row">
        <div class="col-50">
          <div class="row text-center">
            <div class="col-20" ng-repeat='communityCard in communityCards track by $index' ng-if=" !communityCard.isBurn">
              <community ng-community-card="communityCard"></community>
            </div>
          </div>
          <div class="padding">
            <button class="button button-royal button-block fnt-3em icon-left ion-chevron-left" ui-sref="dealer">
              <span class="light-grey">Winner:</span>
              </br> {{winnerString}} </br>
              <span class="light-grey" ng-if="winners.length>1">(SPLIT POT)</span>
            </button>
          </div>
          <div class="marb-30 text-center padding">
            <a class="button button-block button-royal fnt-3em button-outline" ui-sref='table'>New Game</a>
          </div>
        </div>
        <div class="col-50">
          <div class="list">
            <a class="item result-item" ng-repeat="player in players|orderBy:'winRank'" ng-class="{'winner-section':player.winner,
          'show-card':player.showCard}" ng-class="toggleShowCardsClass(player)">
              <div class="row">
                <div class="col col-20 winner-show-only">
                  <card card='{{player.cards[0]}}' ng-style="style" width="60" height="80"> </card>
                </div>
                <div class="col col-20 winner-show-only">
                  <card card='{{player.cards[1]}}' ng-style="style" width="60" height="80"> </card>
                </div>
                <div class="col col-20 non-winner-show-only">
                  <card card='DONE' ng-style="style" width="60" height="80"> </card>
                </div>
                <div class="col col-20 non-winner-show-only">
                  <card card='DONE' ng-style="style" width="60" height="80"> </card>
                </div>
                <div class="col col-60">
                  <h2>Player
                    <span class="big-font">{{player.playerNo}}</span>
                  </h2>
                  <p class=" big-font color-white"> {{player.descr}}</p>
                  <span class="badge badge-royal">Rank {{player.winRank}}</span>

                  <button class="button button-royal button-outline fnt-24 btn-show" ng-if="!player.showCard" on-tap="showPlayerCard(player)">
                    Show
                  </button>
                </div>
              </div>

            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>