<div class="container" hotkey="{space: savingCard,enter:savingCard}">
    <div>
        <div class="row">
            <div class="col-md-4">
                <h1>Map Cards</h1>
            </div>
            <div class="col-md-4">
                <select class="form-control select-card" ng-options="card as (card.shortName +' - '+ card.fullName) for card in allCards"
                    ng-model="mapCard.selected" ng-change="restartApp();">
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default  select-card" ng-click="startReading();">Start Reading</button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <card card="{{mapCard.selected.shortName}}" width="250" height="350"></card>
        </div>
        <div class="col-md-4">
            <h3>Card Details</h3>

            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>Short Name</td>
                        <td>{{mapCard.selected.shortName}}</td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td>{{mapCard.selected.fullName}}</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>{{mapCard.selected.colorShort}} ({{mapCard.selected.colorFull}})</td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td>{{mapCard.selected.numberShort}} ({{mapCard.selected.numberFull}})</td>
                    </tr>
                    <tr>
                        <td>RFID UID</td>
                        <td>0000</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-4">
            <h3>Place Card</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>Saving Card</td>
                        <td ng-switch="mapCard.isSaving">
                            <i class="fa fa-clock-o default" aria-hidden="true" ng-switch-when="Pending"></i>
                            <i class="fa fa-warning danger" aria-hidden="true" ng-switch-when="Error"></i>
                            <i class="fa fa-check-square-o success" aria-hidden="true" ng-switch-when="Complete"></i>
                            <i class="fa fa-minus normal" ng-switch-default aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Verifing Card</td>
                        <td ng-switch="mapCard.isVerifing">
                            <i class="fa fa-clock-o default" aria-hidden="true" ng-switch-when="Pending"></i>
                            <i class="fa fa-warning danger" aria-hidden="true" ng-switch-when="Error"></i>
                            <i class="fa fa-check-square-o success" aria-hidden="true" ng-switch-when="Complete"></i>
                            <i class="fa fa-minus normal" ng-switch-default aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Changing Card</td>
                        <td ng-switch="mapCard.isNextCard">
                            <i class="fa fa-clock-o default" aria-hidden="true" ng-switch-when="Pending"></i>
                            <i class="fa fa-warning danger" aria-hidden="true" ng-switch-when="Error"></i>
                            <i class="fa fa-check-square-o success" aria-hidden="true" ng-switch-when="Complete"></i>
                            <i class="fa fa-minus normal" ng-switch-default aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>