<ion-modal-view class="show-page custom-modal-page ">
    <ion-content>
        <div class="modal-sure fnt-24">
            <h4 class="fnt-24">Are you sure you want to
                <span class="modal-action-for">{{modelActionFor}}</span> ?
            </h4>
            <div class="sure-modal">
                <div class="row">
                    <div class="col col-50 text-center">
                        <button class="button button-balanced button-custom button-outline fnt-24" ng-click="confirmModalOk();confirmModalClose();">OK</button>
                    </div>
                    <div class="col col-50 text-center">
                        <button class="button button-assertive button-custom button-outline fnt-24" ng-click="confirmModalClose();">CANCEL</button>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>