<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" ui-sref-active="active">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav" ui-sref-active="active">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>