<div style="position:relative;">
    <label class="player-fold-label" ng-if="player.isFold">Fold</label>
    <label class="player-allin-label" ng-if="player.isAllIn">All In</label>
    <div class="players text-center clearfix" ng-class="{'player-turn':player.isTurn,'not-active':!player.isActive,'player-fold':player.isFold || player.isAllIn}">
        <div class="playerimg">
            <!-- <img class="img-responsive playersimgbor" src="img/person.jpg" alt=""> -->
            <h2 class="fnt-8em">{{player.playerNo}}</h2>
            <!-- <img class="player-dealer"  src="img/dealer.png" alt=""> -->
            <div class="player-dealer" ng-if="player.isDealer"> D </div>
            <div class="player-dealer player-blind small-blind" ng-if="player.isSmallBlind"> SB </div>
            <div class="player-dealer player-blind " ng-if="player.isBigBlind"> BB </div>
            <div class="player-raised" ng-if="player.hasRaisedd && !player.isAllIn"> R </div>
            <div class="player-raised checked" ng-if="player.hasChecked"> Ce </div>
            <div class="player-raised called" ng-if="player.hasCalled"> C</div>
            <!-- <div ng-show="p.isFold"></div> -->
        </div>
        <div class="row custom-row" ng-if="player.cards.length==0">
            <card card='NONE' ng-style="style" class="low-opacity" width="35" height="45"> </card>
            <card card='NONE' ng-style="style" class="low-opacity" width="35" height="45"> </card>
        </div>
        <div class="row custom-row" ng-if="player.cards.length==1">
            <card card='DONE' ng-style="style" width="35" height="45"> </card>
            <card card='NONE' ng-style="style" class="low-opacity" width="35" height="45"> </card>
        </div>
        <div class="row custom-row" ng-if="player.cards.length==2">
            <card card='DONE' ng-style="style" width="35" height="45"> </card>
            <card card='DONE' ng-style="style" width="35" height="45"> </card>
        </div>
    </div>
</div>