<div class="row">
    <!--<pre>{{winner.length}}</pre>-->
    <div class="col-md-12">
        <div class="title-winner" ng-if="winner.length > 1">
            <img src="img/split-pot.png" alt="" width="300px">
        </div>
    </div>
    <div class="col-md-4" ng-repeat="winners in winner" ng-if="winner.length > 1">
        <div class="img-winner-holder">
            <div class="bubble">
                {{winners.descr}}
            </div>
            <img src="img/winner.png" alt="" class="img-full">
            <div class="player-card">
                <img src="img/circle-icon.png" alt="" width="35">
                <span>{{winners.playerNo}}</span>
            </div>
            <div class="img-winner-card">
                <card card='{{winners.cards[0]}}' ng-style="style" class="img-full">
                </card>
                <card card='{{winners.cards[1]}}' ng-style="style" class="img-full winner-card-two">
                </card>
            </div>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-6" ng-if="winner.length==1">
        <div class="img-winner-holder winner-only-one">
            <div class="bubble">
                {{winner[0].descr}}
            </div>
            <img src="img/winner.png" alt="" class="img-full">
            <div class="player-card">
                <img src="img/circle-icon.png" alt="" width="55">
                <span>{{winner[0].playerNo}}</span>
            </div>
            <div class="img-winner-card">
                <card card='{{winner[0].cards[0]}}' ng-style="style" class="img-full">
                </card>
                <card card='{{winner[0].cards[1]}}' ng-style="style" class="img-full winner-card-two">
                </card>
            </div>
        </div>
    </div>
</div>